header {
    height: 125px;
    width: 100%;
    background-color: rgb(240, 80, 80);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

header .top-left {
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 100px;
    padding-left: 20px;
}

header h1 {
    font-size: 50px;
}

header nav {
    width: 400px;
    display: flex;
    justify-content: space-evenly;
}

header a {
    color: white;
    text-decoration: none;
}

.search-section {
    height: 100px;
    background-color: rgb(30, 35, 70);
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar {
    height: 50px;
    width: 300px;
    font-size: 20px;
    border: 5px solid rgb(240, 80, 80);
    border-radius: 25px;
}