.App {
    position: relative;
    min-height: 100vh;
    padding-bottom: 80px;
    box-sizing: border-box;
}

header {
    height: 125px;
    width: 100%;
    background-color: rgb(240, 80, 80);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

header .top-left {
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 100px;
    padding-left: 20px;
}

header h1 {
    font-size: 50px;
}

header nav {
    width: 400px;
    display: flex;
    justify-content: space-evenly;
}

header a {
    color: white;
    text-decoration: none;
}

.search-section {
    height: 100px;
    background-color: rgb(30, 35, 70);
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar {
    height: 50px;
    width: 300px;
    font-size: 20px;
    border: 5px solid rgb(240, 80, 80);
    border-radius: 25px;
}

.card-section {
    box-sizing: border-box;
    padding: 10px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 75px;
    background-color: rgb(30, 35, 70);
}

.agent-card {
    box-sizing: border-box;
    padding-top: 20px;
    border: 5px rgb(240, 80, 80) solid;
    height: 600px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black
}

.agent-image img {
    height: 200px;
    border: 5px white solid;
}

.card-text h3 {
    font-size: 17px;
    height: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card-button {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-button button {
    color: white;
    background-color: rgb(240, 80, 80);
    font-weight: bold;
    padding: 15px;
    border: 2px white solid;
    border-radius: 15px;
    cursor: pointer;
}

.card-button button:hover {
    transform: scale(1.1);
}

.auth-area {
    height: calc(100vh - 205px);
    box-sizing: border-box;
    background-color: rgb(30, 35, 70);
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-area form {
    background-color: black;
    height: 500px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px white solid;
    border-radius: 5%;
}

.auth-area h2 {
    color: white;
    font-size: 50px;
}

.auth-area input {
    height: 40px;
    width: 70%;
    margin: 15px;
    border: 3px solid rgb(240, 80, 80);
    border-radius: 15px;
    font-size: 20px;
}

.top-btn {
    color: white;
    width: 250px;
    background-color: rgb(240, 80, 80);
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    padding: 15px;
    border: 2px white solid;
    border-radius: 15px;
    cursor: pointer;
}

.top-btn:hover {
    transform: scale(1.1);
}

.bottom-btn {
    color: white;
    width: 250px;
    background-color: rgb(240, 80, 80);
    margin-top: 20px;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    border: 2px white solid;
    border-radius: 15px;
    cursor: pointer;
}

.bottom-btn:hover {
    transform: scale(1.1);
}

.map-area {
    background-color: rgb(30, 35, 70);
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.map-area h1 {
    color: white;
    font-size: 50px;
}

.map-area img {
    height: 600px;
    width: 600px;
    margin-bottom: 100px;
    box-sizing: border-box;
    border: 5px white solid
}

footer {
    background-color: rgb(240, 80, 80);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
}

footer h2 {
    color: white;
    font-size: 30px;
    box-sizing: border-box;
    padding: 20px;
}

.footer-logos {
    width: 250px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.footer-logos:hover {
    cursor: pointer;
}